body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;    

}

.table-of-contents{
    margin-bottom: 30px;
    display: flex;
    height: 230px;
    flex-direction: column;   
    position: sticky;
    overflow: auto;
    border-top: solid;   
    border-bottom: solid;   
}

h1{
    font-size: 4rem;
    text-align: center;
}

.Heading{
  font-size: 1.3em;
  border: 1px solid black;
  padding: 10px 40px;

}

.JS-Heading{
    font-size: 2em;
}

.code-area{
    margin: 2rem;
    font-style: oblique;
    font-size: 0.8rem;
}