body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;    

}

.table-of-contents{
    padding-bottom: 1em;
    font-size: 50px;
    display: flex;
    height: 250px;
    flex-direction: column;   
    position: sticky;
    overflow: auto;   
}

h1{
    font-size: 4rem;
    text-align: center;
}

.Heading{
  font-size: 2rem;
  border: 1px solid black;

}

.JS-Heading{
    font-size: 2em;
}